[submodule "themes/hugo"]
	path = themes/hugo
	url = https://github.com/LordMathis/hugo-theme-nightfall.git
[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall.git
